

body {
   
    background-color: rgb(32, 32, 32);
}
table { 
  border-collapse: collapse;
  height: 1050px;
 
}
th{
    color: white;
    text-align: left;
}
td {
    color: white;
}
.cabecera {
    background-color: black;
}
.col1 {
    width: 50px;
    height: 30px;
}
.col2{
    width: 3000px;
    height: 30px;
}
img {
    display: block;
    float: left;
    margin-right: 20px;
}
span {
    display: block;
}
.col3{
    width: 3000px;
    height: 30px;
}
.col4{
    width: 3000px;
    height: 30px;
}
.col5 {
    width: 1000px;
    height: 30px;
}